
Class Test.test
docs/labs/answer_sheet.docx
docs/notes/Fundamentals of vehicle dynamics [Thomas D. Gillespie].pdf
answer_sheet.docx
ttc066_images.pptx
qvm.slx
docs/lectures/Slides_05NOV19.pptx
docs/labs/Init4.m
docs/labs/drive4.slx

*.slxc

.DS_Store


# docs
/docs/_site
/docs/.sass-cache
/docs/.jekyll-cache
/docs/.jekyll-metadata
/docs/vendor
/docs/Gemfile.lock


# coursework
docs/coursework/Class Test (SAP).md
docs/coursework/Class Test.md
